In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import re
import sklearn

over_view = pd.DataFrame()
folder_path = '../../../data/accumulated-raf-data'
ob_folders = os.listdir(folder_path)
for ob_folder in ob_folders:
    folders = os.listdir(folder_path + f'/{ob_folder}')
    if folders:
        for year_folder in folders:
            month_folders = os.listdir(folder_path + f'/{ob_folder}/{year_folder}')
            if month_folders:
                for month_folder in month_folders:
                    data_folders = os.listdir(folder_path + f'/{ob_folder}/{year_folder}/{month_folder}')
                    if data_folders:
                        for data_folder in data_folders:
                            data_file = folder_path + f'/{ob_folder}/{year_folder}/{month_folder}/{data_folder}/data.csv'
                            if os.path.exists(data_file):
                                df = pd.read_csv(data_file, index_col='Datetime')
                                max_accumulated_raf = df["hour-rain"].max()
#                                 if not data_folder in over_view.index:
#                                     over_view.index = over_view.index.append(data_folder)
                                over_view.loc[data_folder, ob_folder] = max_accumulated_raf

In [2]:
over_view = over_view.sort_index()
#over_view.to_csv('overvew.csv')
#over_view.info()

In [13]:
over_view.describe()

,Vlz-Bagbaguin_00174731,NagNayon_00181273,Sinegue_00181300,DLSAU_00174722,ASTI_00173457,MM-SanAndres_00173459,Vlz-DRRMO_00174734,UniManila_00181287,Vlz-Ugong_00174727,TUP-Taguig_00181272,...,MM-Libertad_00181289,LP-DrFelimon_00174733,CAAP_00174729,GH-Subdiv_00181291,C3Bldg_00181284,MM-Balut_00174728,Xavier-Sch_00181285,DOST_00174730,Vlz-Punturin_00174725,QC-SciHS_00181271
count,544.000000,276.000000,207.000000,627.000000,673.000000,674.000000,629.000000,480.000000,513.000000,371.000000,...,602.000000,612.000000,632.000000,372.000000,434.000000,611.000000,477.000000,638.000000,618.000000,322.000000
mean,3.755515,4.813406,3.166667,3.670654,3.860327,3.132047,3.374404,3.534375,3.675439,2.211590,...,3.323920,2.801471,2.636867,2.110215,3.642857,3.202128,4.048218,2.248433,3.902913,4.114907
std,8.322348,9.558269,9.191860,9.252945,8.847322,7.977191,8.410363,7.735675,9.194854,6.174958,...,8.347969,7.480649,6.811349,6.384677,8.172737,7.376112,9.187747,6.248438,8.861319,9.584880
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.125000,5.500000,1.000000,2.000000,2.500000,2.000000,2.500000,3.000000,2.000000,1.000000,...,2.000000,1.125000,1.500000,0.500000,2.500000,3.000000,3.500000,0.500000,3.000000,3.000000
max,61.000000,72.000000,77.000000,94.000000,64.000000,82.000000,63.000000,57.500000,66.500000,53.000000,...,75.000000,89.000000,58.500000,66.000000,59.000000,77.000000,76.000000,63.500000,64.000000,82.000000

In [14]:
over_view.head()

,Vlz-Bagbaguin_00174731,NagNayon_00181273,Sinegue_00181300,DLSAU_00174722,ASTI_00173457,MM-SanAndres_00173459,Vlz-DRRMO_00174734,UniManila_00181287,Vlz-Ugong_00174727,TUP-Taguig_00181272,...,MM-Libertad_00181289,LP-DrFelimon_00174733,CAAP_00174729,GH-Subdiv_00181291,C3Bldg_00181284,MM-Balut_00174728,Xavier-Sch_00181285,DOST_00174730,Vlz-Punturin_00174725,QC-SciHS_00181271
2019-01-01,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-03,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-04,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-05,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
for i in over_view.index:
    if over_view.loc[i].sum() < 10 and '2020' in i:
        print(i)

2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-21
2020-01-22
2020-01-23
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-01
2020-02-02
2020-02-03
2020-02-04
2020-02-05
2020-02-06
2020-02-09
2020-02-10
2020-02-11
2020-02-12
2020-02-14
2020-02-15
2020-02-16
2020-02-17
2020-02-18
2020-02-19
2020-02-20
2020-02-22
2020-02-23
2020-02-24
2020-02-25
2020-02-27
2020-02-28
2020-02-29
2020-03-01
2020-03-02
2020-03-03
2020-03-04
2020-03-05
2020-03-06
2020-03-07
2020-03-09
2020-03-12
2020-03-13
2020-03-16
2020-03-17
2020-03-18
2020-03-19
2020-03-20
2020-03-21
2020-03-22
2020-03-23
2020-03-24
2020-03-25
2020-03-26
2020-03-27
2020-03-28
2020-03-29
2020-03-30
2020-03-31
2020-04-01
2020-04-02
2020-04-03
2020-04-04
2020-04-05
2020-04-06
2020-04-08
2020-04-11
2020-04-14
2020-04-15
2020-04-19
2020-04-20
2020-04-21
2020-04-23
2020-04-24
2020-04-25
2020-04-28
2020-04-30
2020-05-01
2020-05-02
2020-05-03
2020-05-04
2020-05-05
2020-05-07
2020-05-08
2020-05-11
2020-05-24
2020-05-31
2020-06-03
2020-06-05
2020-06-06
2020-06-08
2020-06-16
2020-06-17
2020-06-20
2020-06-30
2020-07-01
2020-07-02
2020-07-14
2020-07-16
2020-07-17
2020-07-18
2020-08-12
2020-08-23
2020-08-24
2020-08-25
2020-08-26
2020-08-27
2020-08-28
2020-09-05
2020-09-08
2020-09-12
2020-09-13
2020-09-16
2020-09-17
2020-10-19
2020-10-22
2020-10-27
2020-10-30
2020-11-02
2020-11-05
2020-11-08

In [36]:
less_rain_date = pd.read_csv('../../train_model/less_rain_date.csv')['date']
'2020-04-01' in less_rain_date.tolist()

True

In [1]:
dates = ['2020-04-18', '2020-04-22', '2020-04-26', '2020-04-27']
folder_path = '../../../data/accumulated-raf-data'
ob_data = []
ob_folders = os.listdir(folder_path)
for ob_folder in ob_folders:
    folders = os.listdir(folder_path + f'/{ob_folder}')
    year = '2020'
    month = '04'
    date = dates[0]
    path = folder_path + f'/{ob_folder}/{year}/{month}/{date}'
    if os.path.exists(path):
        df = pd.read_csv(path + '/data.csv', index_col='Datetime')
        ob_data.append(df)

NameError: name 'os' is not defined

In [ ]:
test_df = ob_data[0]
test_df.info()
test_df.head()

In [ ]:
cols = ["AT1", "RH1", "PRS", "SLP", "SOL", "hour-rain"]
for col in cols:
    log_col = col + "-LOG"
    for df in ob_data:
        df[log_col] = np.log((df[col] + 1)/(df[col].shift(1) + 1))

In [ ]:
ob_data[0].head()

In [18]:
n, k = map(int, input().split())
a = []
for i in range(n):
  c, d = map(int, input().split())
  a.append(tuple([c, d]))
  
pos = 0
for x, y in a:
    if x - pos > k:
        break
    k = k - (x - pos) + y
    pos = x
print(pos + k)

 2 3
 2 1
 5 10

2 2
2